[2016-07-05 07:07] ccamacho commented on #1
First comment

[2016-07-05 07:55] ccamacho commented on #1
Second comment

[2016-07-05 09:35] ccamacho opened #1 "How to connect from your local machine to the TripleO overcloud horizon dashboard"

[2016-07-05 09:35] ccamacho opened #2 "TripleO manual deployment"

[2016-07-05 21:46] ccamacho opened #3 "Connecting the ADXL345 accelerometer to the Raspberry Pi 3"

[2016-07-06 12:41] ccamacho opened #4 "The Venezuelan Cuatro"

[2016-07-07 11:04] ccamacho opened #5 "Openstack & TripleO deployment using Inlunch"

[2016-07-11 13:07] ccamacho opened #6 "TripleO Deep dive sessions #1 (Quickstart deployment)"

[2016-07-16 12:11] ccamacho opened #7 "TripleO Deep dive sessions #2 (TripleO Heat Templates)"

[2016-07-20 08:32] dbaxps commented on #2
Following http://www.anstack.com/blog/2016/07/04/manually-installing-tripleo-recipe.html
installation hangs doing introspection, regardless `ironic node-list` looks good.

[2016-07-20 10:01] ccamacho commented on #2
Hey dbaxps thanks for the feedback, currently master is having a bug when running introspection, I'll let you know when the issue is solved.

This is the current bug: https://bugs.launchpad.net/tripleo/+bug/1604770

[2016-07-20 18:09] dbaxps commented on #2
I have rebuilt instack-undercloud-5.0.0-0.20160720101556.38dc0ec.el7.centos.src.rpm via patch
https://review.openstack.org/gitweb?p=openstack/instack-undercloud.git;a=patch;h=33e9d78dcdbc9a3737bfc009660a5bb2698313e4, and pre-installed instack-undercloud-5.0.0-0.20160720101556.38dc0ec.el7.centos.noarch.rpm on VIRTHOST . Right after instack(VM)
creation scp'ed patched rpm to instack,  activated repo

[2016-07-22 08:08] ccamacho opened #8 "TripleO deep dive session #3 (Overcloud deployment debugging)"

[2016-07-26 14:26] ccamacho opened #9 "Testing instack-undercloud submissions locally"

[2016-08-01 08:04] ccamacho opened #10 "TripleO deep dive session #4 (Puppet modules)"

[2016-08-05 18:00] ccamacho opened #11 "TripleO deep dive session #5 (Undercloud - Under the hood)"

[2016-08-16 08:01] ccamacho opened #12 "TripleO deep dive session #6 (Overcloud - Physical network)"

[2016-08-23 14:15] ccamacho opened #13 "BAND-AID for OOM issues with TripleO manual deployments"

[2016-08-24 10:38] ccamacho commented on #13
Upstream patch: https://review.openstack.org/#/c/359780/

[2016-08-25 07:16] ccamacho opened #14 "Debugging submissions errors in TripleO CI"

[2016-09-21 10:51] ccamacho opened #15 "So You Think You Are Ready For The RHCSA Exam"

[2016-09-27 06:49] ccamacho opened #16 "Deployment tips for puppet-tripleo changes"

[2016-10-08 09:20] ccamacho opened #17 "How to un-brick a Sony Speria S and install Oneofakind Android 6.0.1_r10X"

[2016-11-04 12:10] ccamacho opened #18 "Querying haproxy data using socat from CLI"

[2016-11-21 12:04] ccamacho opened #19 "Enabling nested KVM support for a instack-virt-setup deployment"

[2016-11-21 18:21] ccamacho opened #20 "OpenStack summit 2016 - BCN"

[2016-11-23 08:53] ccamacho opened #21 "GitHub's Reflog, I love you!"

[2016-11-26 11:08] ccamacho opened #22 "TripleO cheatsheet"

[2016-11-26 11:08] ccamacho opened #23 "TripleO cheatsheet"

[2016-11-26 11:09] #23 closed, assigned to nobody

[2016-11-27 11:42] ccamacho opened #24 "oh yeah, NES classic mini"

[2016-11-28 15:02] ccamacho opened #25 "Testing composable upgrades"

[2016-12-16 10:23] ccamacho opened #26 "Printed TripleO cheatsheets for FOSDEM & devconf (feedback needed)"

[2017-01-13 17:08] ccamacho opened #27 "Install TripleO UI"

[2017-01-16 11:20] voyageur commented on #27
To get access to the UI in an undercloud, I just expanded a bit the sshuttle command I use to get access to the overcloud:
`sshuttle -e "ssh -F ~/.quickstart/ssh.config.ansible" -r undercloud -v 10.0.0.0/24 192.168.24.0/24`

I also got the "Connection to Keystone is not available" when trying to login, I fixed that by visiting the keystone URL first (to ignore the SSL error), in my case https://19

[2017-01-16 15:22] ccamacho opened #28 "TripleO deep dive session #7 (Undercloud - TripleO UI)"

[2017-01-17 08:22] ccamacho commented on #27
Yeahp you are right there, using sshuttle is a better idea, as the TripleO UI is trying to reach other services from 192.168.24.0/24 (like keystone 5000) and I'm currently forwarding one port I'll push the fix. Not using currently SSL but that's a good catch! Thanks!

[2017-01-18 02:14] bretcj7 commented on #3
Great blog post, worked effortlessly and no issues.  Thank you.

[2017-01-26 17:28] ccamacho opened #29 "OpenStack and services for BigData applications"

[2017-01-30 15:29] ccamacho commented on #3
Awesome you like it!

[2017-02-24 16:30] ccamacho opened #30 "TripleO Quickstart install"

[2017-03-25 21:03] dbaxps commented on #29
KSM Performance on TripleO QS is much more efficient than the one which  was provided by instack-virt-setup ( even activated before deployment ). I guess explanation might be found here 👎
http://blog.oddbit.com/2016/05/19/connecting-another-vm-to-your-tripleo-qu/
TripleO QS works  pretty stable for me via 👎
$ bash quickstart.sh -R master  --config config/general_config/pacemaker.yml  \
   --nodes

[2017-03-26 08:35] dbaxps commented on #29
Addressing complain "Updated 2017/03/16: The --config option seems to be broken, using instead -e @~/deploy-config.yaml.". See README.rst 👎
Feature Configuration and Nodes

In previous versions of triple-quickstart a config file was used to determine
not only the features that would be enabled in tripleo and openstack but also
the number of nodes to be used. For instance "config/general_config/ha.

[2017-05-04 16:47] ccamacho opened #31 "TripleO deep dive session #8 (TripleO - Deployed server)"

[2017-05-05 15:42] ccamacho opened #32 "TripleO deep dive session #9 (TripleO - Quickstart)"

[2017-05-31 11:28] ccamacho opened #33 "Converting AAX to MP3"

[2017-06-15 16:13] ccamacho opened #34 "TripleO deep dive session #10 (Containers)"

[2017-06-15 16:27] ccamacho opened #35 "TripleO deep dive session index"

[2017-06-27 15:01] ccamacho opened #36 "OpenStack versions"

[2017-06-30 04:49] rexzone007 commented on #17
Thanks, I'll see if I finally install the rom well and tell you
Which is already lost two days with this lio (what complicates me is the adb that sometimes does not catch the cell), will work for the Android 7.1?

[2017-07-06 19:22] pimyride94 commented on #3
Just a question before I choose which accelerometer to buy. The ADXL345 isn't an analog accelerometer? That way don't I need an A/D converter for it to work on my raspberry pi 3 model B?

[2017-07-06 19:48] bretcj7 commented on #3
Its digital.  Works with  I2C or SPI  just hook up on the correct GPIO pins.
http://www.analog.com/media/en/technical-documentation/data-sheets/ADXL345.pdf

[2017-07-06 20:20] pimyride94 commented on #3
Oh, my mistake. That's good then! Thanks

2017-07-06 16:48 GMT-03:00 Bret Askeland <notifications@github.com>:

[2017-07-07 08:15] ccamacho opened #37 "TripleO deep dive session #11 (i18n)"

[2017-07-14 10:18] ccamacho opened #38 "Create a TripleO snapshot before breaking it..."

[2017-10-26 05:17] Haroldov commented on #3
Hola, seguiste trabajando con este acelerometro? Vi que pusiste que el siguiente blog del acelereometro seria trabajarlo en tiempo real pero no he podido encontrar ese blog. Quitame la duda y muchas gracias!

[2017-10-27 00:09] pimyride94 commented on #3
Hey, I have been working with It. I might be able to help you, what do you
want to know?

Em 26 de out de 2017 3:17 AM, "Haroldo Vélez" <notifications@github.com>
escreveu:

[2017-10-27 12:56] ccamacho commented on #3
Yeah, I did some more research about it but didn't have the chance to write all down. @pimyride94 @Haroldov we can sync if you want to write about it.

[2017-10-27 16:27] kacunar commented on #3
@ccamacho @pimyride94  i want to know  what is  the use of the BW_RATE in the class code.

[2017-10-27 17:25] ccamacho commented on #3
Its how frequent you will get the accelerometer measurements. More info here: https://www.dimensionengineering.com/info/accelerometers

[2017-10-27 17:29] kacunar commented on #3
@ccamacho yes but I couldn't implement this rate in the code. Can you help me with this?

[2017-10-27 18:32] ccamacho commented on #3
@kacunar those values represent registers rate codes, you can check the accelerometer specification at https://www.sparkfun.com/datasheets/Sensors/Accelerometer/ADXL345.pdf

In any case, I'll give you an example, the 1600HZ rate (in the code) corresponds with a 1111 rate code (base 2), which is what you have in the code 0x0F (base 16).

[2017-10-27 22:15] kacunar commented on #3
@ccamacho yes I know. But when I run my code, I only get one measurement. why the accelerometer dont give me measurements with this frecuency??

[2017-10-27 22:56] pimyride94 commented on #3
Well, you have tô make a code tô give you multiple readings, such as a
"while" iteration. For example:
 while true:
     x, y, z = Get.adxl345.readings
     time.sleep(0.1)

This Will give you the Axis values each 0.1 Second. The rate you specify is
the ability tô read and not How many times It Will give you a value per
second
Hope this helps

Em 27 de out de 2017 8:15 PM, "Kevin Acuña" <notificat

[2017-10-27 23:04] kacunar commented on #3
@pimyride94 ohhh ok, thank you. This is how i have the code now. But i have errors with the rate because the code is large. So when  I want 10 seconds of measure with a sampling frecuency of 1 HZ , the raspberry give me  10 measurements but it takes more than 10 seconds.

[2017-10-28 01:56] pimyride94 commented on #3
So maybe you Will need tô separate the while iteration from the rest of the
code. Make the while and create a variable tô count, like "i". So each time
a while loop occurs the variable increases by one. Then inside the
iteration you ask, is i < 10, If thats true use break, and It Will get out
of the while loop. Also inside the iteration you can store the readings in
an array tô work with them as y

[2017-10-28 19:15] kacunar commented on #3
@pimyride94 thank you

[2017-10-30 11:09] ccamacho opened #39 "Restarting your TripleO hypervisor will break cinder volume service thus the overcloud pingtest"

[2017-12-18 10:28] ccamacho opened #40 "Automating Undercloud backups and a Mistral introduction for creating workbooks, workflows and actions"

[2017-12-18 10:29] ccamacho opened #41 "Automating Undercloud backups and a Mistral introduction for creating workbooks, workflows and actions"

[2017-12-18 10:29] #41 closed, assigned to nobody

[2018-01-05 14:28] ccamacho opened #42 "New TripleO quickstart cheatsheet"

[2018-01-09 09:41] ccamacho opened #43 "The Fender Stratocaster coffee table"

[2018-01-11 17:02] pradhanparas commented on #42
It failed with the following error. Looks like related to the virtual bmc

TASK [setup/overcloud : Define overcloud vms] ************************************************************************************************************************************************************************************************
task path: /home/toor/.quickstart/tripleo-quickstart/roles/libvirt/setup/overcloud/tas

[2018-01-12 15:54] ccamacho commented on #42
Seems like a issue with your dev box as the capabilities are not matching for you.

[2018-01-24 13:45] dbaxps commented on #42
Sample as is works just fine via WKS F27 to 32 GB (4 CORE) VIRTHOST Connection to stack account .
Finally I've got 👎
UNDERCLOUD was 12 GB and  6 VCPUS
NODES each one was 8 GB and 2 VCPUS
Docker containers running Openstack Services might be seen pretty clear on both nodes
F27 VM had been created in overcloud and tested via shuttle connection to VIRTHOST from F27 WKS.
However, looks like 4 node HA

[2018-01-27 14:53] dbaxps commented on #42
[boris@fedora27workstation ~]$ cat deploy-config2.yaml
**overcloud_nodes:
  - name: control_0
    flavor: control
    virtualbmc_port: 6230
  - name: compute_0
    flavor: compute
    virtualbmc_port: 6231
  - name: compute_1
    flavor: compute
    virtualbmc_port: 6232
**node_count: 3**
containerized_overcloud: true
delete_docker_cache: true
enable_pacemaker: true
run_tempest: false
extra_args:

[2018-02-14 21:00] jes198 opened #47 "adxl345 wth pi3"
hey, i got this error
can anyone please help me out
Traceback (most recent call last):
  File "example.py", line 11, in <module>
    adxl345 = ADXL345()
  File "/home/pi/adxl345-python/adxl345.py", line 47, in __init__
    self.setBandwidthRate(BW_RATE_100HZ)
  File "/home/pi/adxl345-python/adxl345.py", line 55, in setBandwidthRate
    bus.write_byte_data(self.address, BW_RATE, rate_flag)
IOError:

[2018-02-23 09:14] ccamacho opened #48 "TripleO deep dive session #12 (config-download)"

[2018-03-03 08:18] ccamacho opened #49 "My 2nd birthday as a Red Hatter"

[2018-03-13 16:37] ccamacho opened #50 "Install Tmate and share your terminal session"

[2018-04-12 16:00] verdurin commented on #42
Just followed this and I see the same error I experienced yesterday when following the upstream documentation. There's something wrong with the `undercloud` VM, in that the KVM process is stuck at 100% and the script fails to pick up its IP:
[code]

[2018-05-18 13:09] ccamacho opened #53 "Testing Undercloud backup and restore using Ansible"

[2018-05-31 15:35] ccamacho opened #54 "TripleO deep dive session #13 (Containerized Undercloud)"

[2018-06-07 04:40] rathinamtrainers commented on #42
I am also facing the same issue. Any updates?

`bash quickstart.sh -R master--no-clone --tags all --nodes config/nodes/1ctlr_1comp_1ceph.yml -p quickstart.yml $VIRTHOST`

Using the above command, I tried to deploy the tripleo environment on $VIRTHOST (10.160.0.2) from my kickstart machine (10.160.0.3). Everything went until quickstart.sh tried to find the ip address of the undercloud. At that poin

[2018-08-04 23:26] BNSELIIM commented on #17
05/024/2018 01:24:03 - INFO  - Using Gordon gate drivers version 3.1.0.0
05/024/2018 01:24:03 - INFO  - Opening device for R/W
05/024/2018 01:24:03 - INFO  - Device ready for R/W.
05/024/2018 01:24:03 - INFO  - Reading device information
05/024/2018 01:24:03 - INFO  - Phone ready for flashmode operations.
05/024/2018 01:24:03 - INFO  - Opening TA partition 2
05/024/2018 01:24:03 - INFO  - Current

[2019-01-23 16:17] ccamacho opened #56 "Remote work management, the never ending story..."

[2019-02-05 10:17] ccamacho opened #57 "TripleO - Deployment configurations"

[2019-02-06 13:48] giondo commented on #57
It would be nice if in each step you add in witch node should be executed the commands

like
01 - Create the toor user. (installer node)
02 - Prepare the hypervisor node. (computes nodes)

[2019-02-06 14:14] ccamacho commented on #57
Done! I just added some clarification notes. Hope they help you.

[2019-02-16 13:02] ccamacho opened #58 "Bye bye old theme"

[2019-05-20 14:56] ccamacho opened #59 "Running Relax-And-Recover To Save Your OpenStack Deployment"

[2019-05-21 15:06] ccamacho opened #60 "The Kubernetes in a box project"

[2019-06-12 09:05] jbadiapa commented on #59
I found this issue when selinux is enabled.

~]# virsh start controller-2
error: Failed to start domain controller-2
error: internal error: qemu unexpectedly closed the monitor: 2019-06-12 08:51:12.312+0000: Domain id=35 is tainted: high-privileges
2019-06-12 08:51:12.312+0000: Domain id=35 is tainted: host-cpu
2019-06-12T08:51:12.546301Z qemu-kvm: -drive file=/data/backup/rear-controller-0.iso,fo

[2019-06-12 09:28] ccamacho commented on #59
Sure thing, done.

[2019-06-13 09:21] ccamacho opened #61 "Porsche 993"

[2019-07-02 20:25] ccamacho opened #62 "Advanced Deployment with Red Hat OpenShift - Retrospective"

[2019-07-07 07:09] ccamacho opened #63 "Automated weekly reports"

[2019-10-13 16:59] ccamacho opened #64 "Oil painting and Minikube - Installing Minikube in Centos 7"

[2019-12-04 16:08] ccamacho opened #65 "Badgeboard - GitHub actions, where is mi CI dashboard"

[2020-02-18 07:15] ccamacho opened #66 "TripleO deep dive session #14 (Containerized deployments without paunch)"

[2020-02-28 09:46] srinivasraja54 commented on #62
Could you please share details of the exam. What is the exam code(if any), criteria, is it going to test the installation of Openshift or it was like EX280. I am going to attend the same course soon. This will help me greatly. Thank you

[2020-02-28 16:03] ccamacho commented on #62
Hi, @srinivasraja54 you have all the training courses available on the official website[1], depending on the path you take there are different exams. In particular, the one for OpenShift would be the EX280[2].

About the exam details, they are described in the exam description.

[1]: https://www.redhat.com/en/services/training-and-certification
[2]: https://www.redhat.com/en/services/training/ex28

[2020-07-30 21:30] ccamacho opened #69 "The easiest and fastest way to deploy an OKD 4.5 cluster in a Libvirt/KVM host"

[2020-08-16 11:38] ccamacho opened #70 "A review of the MachineConfig operator"

[2020-09-06 05:24] linuxliste commented on #69
I like this project.
Thanks a lot for your times and job.

[2020-09-06 12:16] ccamacho commented on #69
Thank you for reading about it @linuxliste !!! If you need anything, feel free to create an issue and explain there whatever you need.

[2020-09-11 12:20] ccamacho opened #71 "Deploying KubeInit from a container"

[2020-09-11 12:21] ccamacho opened #72 "KubeInit External access for OpenShift/OKD deployments with Libvirt"

[2020-09-27 19:42] ccamacho opened #73 "Persistent volumes and claims in KubeInit"

[2020-09-29 06:12] christopherwelsh commented on #69
hi Mate, I am bout to try build this for a production env (non for profit). Is there any way this can be adapted (by me) to allow our existing NFS and DNS be available through lot the running containers without too much more firewall / route trickery? I suspect I will still need a load balancer on the service node still? Love to chat if you had the spare time. Thx, C

[2020-09-29 07:18] ccamacho commented on #69
Hi @christopherwelsh it should not be hard to do it.

1- The network change and a brief explaining about how the DNS works is quite simple and explained here https://www.anstack.com/blog/2020/08/25/KubeInit-External-access-for-OpenShift-OKD-deployments-with-Libvirt.html

In this case, as long as you have the external view available somewhere (in the authoritative DNS for the cluster domain) and po

[2020-09-29 18:55] git4liluo opened #74 "Issue with rhel8.0 not existing in the dictionary."
My hypervisor is ubuntu. I got the following task failed. It might not be an issue, but I would appreciate your input/advice.

TASK [../../roles/kubeinit_libvirt : Create VM definition for the service nodes] *********************************************************************************
failed: [hypervisor-01] (item=okd-service-01) => {"ansible_loop_var": "item", "changed": false, "cmd": "virt-i

[2020-09-29 19:36] ccamacho commented on #74
@git4liluo weird issue, this is configured here

https://github.com/Kubeinit/kubeinit/blob/11d7332e7d420344ab16b8480dc24fbdf2631a54/kubeinit/roles/kubeinit_libvirt/tasks/10_deploy_service_nodes.yml#L127

Can you please run in you hypervisor:

    osinfo-query os

And see if you have available rhel8.0? if not you should have rhl8.0  (note the 'e' is not present).

Just update the playbook[1] with t

[2020-09-29 19:44] #74 closed, assigned to nobody

[2020-09-29 20:12] git4liluo commented on #74
Thnx. I will use rhl8.0.

[2020-09-29 20:45] git4liluo opened #75 "Storage pool not found error"
Hello, this is the error I tried but failed to avoid, when creating VM def for the bootstrap node, I got below about no storage pool with matching name 'default'. Appreciate your input!

TASK [../../roles/kubeinit_libvirt : Create VM definition for the bootstrap nodes] *******************************************************************************
skipping: [hypervisor-01] => (item=okd-master-01)

[2020-09-29 23:46] git4liluo commented on #75
solvedthnx

[2020-09-29 23:46] #75 closed, assigned to nobody

[2020-09-30 01:01] christopherwelsh commented on #69
Hi ccamacho,
Thanks for the insights. Honestly looking at the instructions on the OKD site were overwhelming and I was not confident I could pull it off. I am still trying to decide the kind of deployment architecture to deploy as from what I can see there  is the bare metal or virtual layer. This service will be used in a production Env to assist with cancer research (non for profit). It would be

[2020-09-30 05:51] ccamacho commented on #75
@git4liluo can you share what you did here to solve your issue?

[2020-09-30 08:18] ccamacho commented on #69
@christopherwelsh hi, this doesn't look like an only DNS+NFS change? Feel free to ping me on IRC (freenode) in #kubeinit I'm ccamacho, also on the kubernetes slack channel as ccamacho.

[2020-09-30 08:58] christopherwelsh commented on #69
Thx Mate. I will reach our in the next 48 hours or so.

[2020-09-30 13:30] git4liluo commented on #75
I am new, tried some ways suggested here and there. I am not sure if this is the right way, seems working for me:
1. virsh pool-list, I don't see default, I see images from the output;
2. virsh pool-destroy images
3. virsh pool-undefine images
4. then restart the deployment
5. virsh pool-define /dev/stdin << EOF
<pool type='dir'>
  <name>default</name>
  <target>
    <path>/var/lib/libvirt/images<

[2020-10-01 16:37] git4liluo commented on #69
I deployed such a cluster(1 master, 1 worker, 1 service, 1 bootstrap) successfully on KVM on a bare metal. Appreciate  your tool and support! I wanted to deploy multiple such clusters on the same bare metal. Please advice how to make that happen.

[2020-10-04 09:00] ccamacho opened #76 "Deploying multiple KubeInit clusters in the same hypervisor"

[2020-10-04 09:30] ccamacho commented on #69
Hi @git4liluo, deploying multiple clusters is fairly easy with some adjustments I already implemented, please read this guide: https://www.anstack.com/blog/2020/10/04/Multiple-KubeInit-clusters-in-the-same-hypervisor.html

Please feel free to ask any questions you have, and if you find any issue also feel free to raise issues in the project's repo (https://www.github.com/kubeinit/kubeinit). Also,

[2020-10-05 11:16] shan557 commented on #69
while running playbook getting below error in validations.
TASK [../../roles/kubeinit_validations : Make sure there is enough free space] *******************************************************************************
fatal: [10.1.90.182]: FAILED! => {
    "assertion": "kubeinit_validations_libvirt_free_space.stdout[:-1]|int > kubeinit_validations_libvirt_disk_usage|float * 1.1",
    "changed": fa

[2020-10-05 12:38] ccamacho commented on #69
Hi @shan557, you will be required to have the sum of the space used by the guests in the inventory file, otherwise, the deployment will fail.

Please feel free to ask any questions you have, and if you find any issue also feel free to raise issues in the project's repo (https://www.github.com/kubeinit/kubeinit). Also, it would be awesome if you can star the project to catch up with updates and new

[2020-10-05 22:56] git4liluo commented on #72
I firstly followed https://www.anstack.com/blog/2020/07/31/the-fastest-and-simplest-way-to-deploy-okd-openshift-4-5.html to install one cluster on KVM using KubeInit successfully, then I followed https://www.anstack.com/blog/2020/10/04/Multiple-KubeInit-clusters-in-the-same-hypervisor.html to install two clusters on KVM using KubeInit successfully. With the latter instruction, I see  two related l

[2020-10-06 06:47] ccamacho commented on #72
You enable it by:
systemctl enable --now cockpit.socket
to access it, use the root user with its password

The error means you did not create the bridge
with the name defined in the [inventory[(https://github.com/Kubeinit/kubeinit/blob/master/kubeinit/hosts/okd/inventory#L15)

It's a validation that when you run `nmcli con show` the bridge must be there.

@git4liluo if you could it would be awesom

[2020-10-06 15:22] git4liluo commented on #76
When creating the second cluster, do we need to change devicename in inventory2?
When cleaning up completely to install clusters all over again, do we need to do anything for the connections and bridges such as kimgtbr0 and kimgtbr2?

[2020-10-06 15:29] ccamacho commented on #76
When creating the second cluster, do we need to change devicename in inventory2?
- This is explained in this post.
When cleaning up completely to install clusters all over again, do we need to do anything for the connections and bridges such as kimgtbr0 and kimgtbr2?
- We only clean before a deployment. But if you want, this looks like a nice contribution from your side, so please feel free to cre

[2020-10-06 21:07] git4liluo commented on #72
Thanks, got it.
Step 2: The variable is **kubeinit_libvirt_external_service_interface_enabled** in the code, not the **kubeinit_bind_external_service_interface_enabled** in the screenshot. I will use the former one in both the main.yml file and in the command line in Step 3. BTW, why we provide the same information twice, one is in the main.yml file, the other is in the command line in Step 3?
Als

[2020-10-07 05:04] ccamacho commented on #72
Hi @git4liluo

Thanks for pointing that out, I already fixed the post with the new variable names and a correct screenshot.
In step 2, what you see in the defaults file are the values that need to be adjusted to your environment.
In step 3, we set up those values depending on our environment.
eth0 is the interface in the vm so you should not change it, you only need to adjust ip/gateway/mask

[2020-10-19 14:39] ccamacho opened #77 "KubeInit 4-in-1 - Deploying multiple Kubernetes distributions (K8S, OKD, RKE, and CDK) with the same platform"

[2020-10-22 05:39] stevoltgutsy commented on #69
Hi Camacho,

I faced the issued below while running the ansible playbook

TASK [../../roles/kubeinit_libvirt : Inject toor virt-customize assets] *******************************************************
failed: [hypervisor-01] (item=okd-service-01) => {"ansible_loop_var": "item", "changed": false, "cmd": "virt-customize -a /var/lib/libvirt/images/okd-service-01.qcow2  --run-command \"sed -i 's/Pass

[2020-10-22 08:06] ccamacho commented on #69
hi @stevoltgutsy thanks a lot for raising this issue.

That should be a regression in libguestfs, the actual error is this one:
the virt-resize: warning: unknown/unavailable method for expanding the xfs ", "filesystem on /dev/sda1", "/dev/sda1: This partition will be resized from 7.8G to 160.0G."

Can you confirm you have: 1.40.2 (the one with the issue)
This one should work: 1.38.4 (this should w

[2020-10-22 08:34] stevoltgutsy commented on #69
Thanks for the prompt response.

I got the setup up and running on a fresh install of centos 8. The failed attempt was on centos 7 with many other kvm instances running.

A quick one, how do i upgrade the OKD cluster to 1.19.3 . It came installed with 1.18.3

[2020-10-22 08:43] ccamacho commented on #69
@stevoltgutsy you should be able to run the OKD upgrade guides[1] remember that the OKD version and the k8s version deployed must match.

[1]: https://docs.okd.io/latest/updating/updating-cluster-cli.html#updating-cluster-cli

[2020-10-22 09:08] stevoltgutsy commented on #69
Thanks a lot . This post save me several months effort of trying to install openshift. What a great relief.

[2020-10-22 09:18] stevoltgutsy commented on #69
One last question: How do I access OKD web interface for this setup?

[2020-10-22 09:26] ccamacho commented on #69
Np, the deployment is in a NAT network so you can not access the management network from outside, what you can do is to use an additional IP to point to the service machine and have access to the cluster. Here you have all the steps documented: https://www.anstack.com/blog/2020/08/25/KubeInit-External-access-for-OpenShift-OKD-deployments-with-Libvirt.html

[2020-10-22 17:31] stevoltgutsy commented on #69
Thanks. got everything working so far.
What's the username/password to use for ssh/virsh console to control/compute nodes?

I plan to do some testing that may require CLi access to the vm.

[2020-10-22 17:56] ccamacho commented on #69
@stevoltgutsy hi, from the hypervisor you should be able to ssh as root to the service node and ssh as core to the other fcos nodes. It's nice to see you made progress. If you manage to find issues, things to improve feel free to raise them in the GitHub's project. Also any contribution is welcomed ;)

[2020-10-22 18:36] stevoltgutsy commented on #73
Great post on kubernetes pv and PVC. Looking forward to dynamic storage support and other posts on openshift how-tos.

[2020-10-23 08:54] Bilal-io commented on #72
I am having a weird issue here. First time I ran the playbook it worked fine, but after that it fails at "install services requirements" task.

Error:
[code]

[2020-10-23 09:03] ccamacho commented on #72
hi @Bilal-io, looks like you did some changes to the inventory, using the defaults, can you confirm you can ssh to root@nyctea without a password from the machine you are running the playbook from? you might have a nit somewhere. Also, can you share the changes you did to the inventory, I ask because I added more variables and parameters so if you are not using the latest, it might break.

If you

[2020-10-23 09:20] Bilal-io commented on #72
Hey @ccamacho good point, I tested when I was doing the initial setup, and it worked. After your comment, I tested again and it didn't work. I fixed it by adding the hostname to /etc/hosts

Starred!

[2020-10-30 05:25] stevoltgutsy commented on #69
Hi ccamacho,

How do I login to the grafana and prometheus instances that came pre-installed with this installation( i dont know the username/password)? In case I want to deploy similar application, how do I proceed? Sorry to bother you with this at this time.

[2020-10-30 08:24] ccamacho commented on #69
Hi @stevoltgutsy :) sure thing man, why don't you try with the password stored in the service node @ /root/install_dir/auth/kubeadmin-password ??

[2020-10-30 17:39] ccamacho commented on #69
Also `oc get secret kubeadmin -n kube-system -o yaml` might help, but IIRC its [base64](https://github.com/openshift/installer/blob/master/data/data/manifests/openshift/kubeadmin-password-secret.yaml.template#L7) so you must decode it.

[2020-11-05 13:14] cgoguyer commented on #69
Hello  @ccamacho ,

How to set number of CPU in inventory file for control plane, worker and service vms?
I've only seen ram and disk:
disk=25G
ram=25165824

Thanks.

[2020-11-05 13:33] ccamacho commented on #69
Hi @cgoguyer, indeed that looks like a low hanging fruit for pushing a PR, are you interested in contributing? If you will like to do it, these are the steps to make it dynamic.

In the following files you need to update/add the vcpu and maxvcpu variables:

https://github.com/Kubeinit/kubeinit/blob/master/kubeinit/roles/kubeinit_libvirt/tasks/10_k8s_deploy_nodes.yml#L123
https://github.com/Kubeini

[2020-11-06 15:59] cgoguyer commented on #69
Hi @ccamacho

I'm working on it.

but when testing I'm getting this error:

failed: [hypervisor-01] (item={u'key': u'coreos', u'value': {u'kernel': u'fedora-coreos-32.20200715.3.0-live-kernel-x86_64', u'initrd': u'fedora-coreos-32.20200715.3.0-live-initramfs.x86_64.img', u'sig': u'fedora-coreos-32.20200715.3.0-metal.x86_64.raw.xz.sig', u'raw': u'fedora-coreos-32.20200715.3.0-metal.x86_64.raw.xz',

[2020-11-06 16:14] ccamacho commented on #69
@cgoguyer first, thanks for the contributions :) that looks like an unrelated issue when fetching the FCOS images, the URL looks correct are that's for fetching the kernel image. If you push the PR Ill gladly review it and we can run the CI job for testing it without issues.

Thanks again!

[2020-11-12 17:14] cgoguyer commented on #76
Is it possible to re-use the same service vm for the second cluster ?
It would be nice to use only one DNS/NFS service for all clusters.

[2020-11-12 18:00] ccamacho commented on #76
@cgoguyer, in theory, is a valid use-case, the thing here is that the service machine is "part" of the cluster, because is defined in both inventory files, once thing should be to build a multicluster inventory file with both clusters and a single service machine. I don't see any impediment as the roles are modular enough to do this, but it might need some tweaking and testing. But indeed an inter

[2020-11-16 07:55] stevoltgutsy commented on #69
Hi ccamacho,

I s there a way to input the pull-secret in the playbook or a fix for the always degrading config-samples operator? It is consistently degraded. I tried "oc delete configs.sample cluster", but it returns to degraded after some time. I am just looking for a permanent fix

[2020-11-16 07:58] stevoltgutsy commented on #69
It seems "{"auths":{"fake":{"auth": "bar"}}}" was used in your playbook. I need to way to avoid the degraded alert.

[2020-11-16 09:59] ccamacho commented on #69
Hi @stevoltgutsy,

The current content of the install-config.yaml should look like http://paste.openstack.org/show/800046/

By default, we now deploy with a local registry in the service machine.

Here you can enable it or disable it:
https://github.com/Kubeinit/kubeinit/blob/master/kubeinit/roles/kubeinit_registry/defaults/main.yml#L24

And the pullsecret defaults to the following value in case y

[2020-11-16 12:47] stevoltgutsy commented on #69
Thanks for the response. I will check further. What could be the reason for the consistent degradation of the config-samples operator?

[2020-11-16 12:51] stevoltgutsy commented on #69
From the logs, all image streams related to the config-samples could not be imported. As a result, config-samples operator was degraded.

[2020-11-17 06:43] stevoltgutsy commented on #69
Hi ccamacho, I think i fixed the issued with my setup. sorry to bother you.
Thanks you for this platform.

[2020-11-17 08:10] cgoguyer commented on #69
Hi @stevoltgutsy, how did you solve your issue ?
I have the same problem with the config-samples operator.

[2020-11-17 08:20] ccamacho commented on #69
Hi @stevoltgutsy @cgoguyer I started to check it yesterday, I think you need to use/request a valid auth token at registry.redhat.io

[2020-11-17 12:28] stevoltgutsy commented on #69
Hi @cgoguyer , I did as follows:

1. U need to have subscription or developer account with redhat.
2.  see if you can login (podman login registry.redhat.io). U can try docker login too.
3. visit (https://cloud.redhat.com/openshift/install/pull-secret) to download or copy your pull-secret. save it on the okd-service node or hypervisor node. Any PC that can reach openshift API would do. I saved min

[2020-11-17 17:24] cgoguyer commented on #69
Thank you @stevoltgutsy. It works fine now.

[2020-11-17 17:39] stevoltgutsy commented on #69
@cgoguyer , u're welcome.

[2020-12-04 13:11] jguevara-assist opened #78 "Error Install Registry"
I have the next error:

TASK [../../roles/kubeinit_registry : Create container to serve the registry] *******************************************
fatal: [hypervisor-01 -> 10.0.0.100]: FAILED! => {"changed": false, "msg": "Can't create container kubeinit-registry", "stderr": "Error: unknown flag: --detach\n", "stderr_lines": ["Error: unknown flag: --detach"], "stdout": "", "stdout_lines": []}

PLAY

[2020-12-04 13:28] ccamacho commented on #78
Hi @jguevara-assist indeed a package upgrade in the kubic repos broke all... The context is here: https://github.com/Kubeinit/kubeinit/issues/113  It's fixed now, so try running from latest master or 0.6.2

Please feel free to ask any questions you have, and if you find any issue also feel free to raise issues in the project's repo (https://www.github.com/kubeinit/kubeinit). Also, it would be awes

[2020-12-04 15:54] jguevara-assist commented on #78
Hi ccamacho, I updated the repository to the master branch again and ran the installation again, it responded with the following error.

--------------------------------------------
PLAY [Main deployment playbook for OKD] *********************************************************************************
ERROR! failed to combine variables, expected dicts but got a 'dict' and a 'AnsibleUnicode':
{}
"

[2020-12-04 19:45] tlhconsulting commented on #72
First of all thank you for such a simple and easy OpenShift Deployment mechanism, truly a terrific job. Without going into too much detail I have a Openshift Cluster that I instantiated, updated to 4.6 and recently had a power outage that took down my server. The server is back up and running and what I am wondering is there a way to just bring up the current Cluster without re-deployment and then

[2020-12-06 05:13] tlhconsulting commented on #72
So it was just easier to update the repo for the updated openshift-cluster and openshift-install and rebuild from scratch. But if anyone comes up with any shutdown, startup procedures please provide.

[2020-12-06 09:55] ccamacho commented on #72
Hi @tlhconsulting sorry for the delayed answer, can you explain your specific issue when shutting down the cluster? I assume that the hypervisor was turned off, and you turned in on, but the VMs/cluster didn't start correctly?

Can you create an issue in https://github.com/Kubeinit/kubeinit/issues explaining the actual behavior you had, and how it should be?

If you could it would be awesome if yo

[2020-12-07 08:57] ccamacho opened #79 "How to deploy Amazon EKS-D on top of a Libvirt with Kubeinit in 15 minutes"

[2021-02-20 08:22] ccamacho opened #80 "Multihost deployments with Kubeinit"

[2021-03-12 12:40] ccamacho opened #81 "Learning how to deploy OpenShift with KubeInit"

[2021-03-27 03:59] arturocp opened #82 "Installation shows "Error resolving host" but host can be resolved."
Hi Carlos!

Thanks for sharing this project.

I set up a Centos8 machines for deploying OKD but I have an issue. I think it could be related to special characters in URL query string.

This is the error I get:

TASK [../../roles/kubeinit_okd : update packages] *******************************************************************************************************************************************

[2021-03-27 06:40] ccamacho commented on #82
Hello!

It looks like your ISP or network provider is blocking 1.1.1.1

Can you please look at https://github.com/Kubeinit/kubeinit/issues/198

Please feel free to ask any questions you have, and if you find any issues also feel free to raise issues in the project's repo (https://www.github.com/kubeinit/kubeinit). You can jump in and ask in the slack channel https://kubernetes.slack.com/archives/C

[2021-03-27 06:40] #82 closed, assigned to nobody

[2021-03-27 14:47] arturocp commented on #82
Hello, Carlos!

Thanks for your fast response. Yesterday, I was trying some changes and I broke something, now appears:

TASK [../../roles/kubeinit_libvirt : Inject toor virt-customize assets] ********************************
fatal: [hypervisor-01 -> okd]: FAILED! => {"changed": false, "cmd": "virt-customize -a /var/lib/libvirt/images/okd-service-01.qcow2  --install python3  --run-command \"sed -i

[2021-03-27 14:57] ccamacho commented on #82
Yeah, that's something different, you need to share the changes you did to debug it. Please feel free to raise it in the project's GitHub site.

[2021-04-08 08:37] DarioCorona59 opened #83 "Playbook Task Error"
Hi, I'm trying to build an OKD cluster (1 master, 2 worker, 1 service) for testing purpouse. While execting the playbook I encountered the following error. Some suggestions ? Perhaps a differente partition schema for the Centos hypervisor ?

Command:
-------------------------------------------------------------------------------------------------------------------------------
[root@c8hyp kubeinit]

[2021-04-08 08:50] ccamacho commented on #83
Hi! @DarioCorona59 it means you dont have enough free space where you will store the MVs images, you need 255GB but you only have ~70GB in the volume of /var/lib or /var/lib/libvirt.

The only thing is that you should not have 0 in the available space, what changes did you do in the code?

Please feel free to ask any questions you have, and if you find any issue also feel free to raise issues in t

[2021-04-08 08:50] #83 closed, assigned to nobody

[2021-04-08 16:05] DarioCorona59 commented on #83
Hi Carlos,
thank You very much for your answer, but unfortunately I didn't resolve the issue.
First of all I have made no changes to code, just executing the playbook.
Now I have changed the partition schema of Centos 8 (reinstalled) as You can see here after:
-----------------------------------------------------------------------------------
***@***.*** var]# df -H /var
File system

[2021-04-08 16:22] ccamacho commented on #83
Let's try this. Can you execute

[code]

Then try the deployment again. So we are sure that the libvirt folder is created, it will install the packages, but let's be sure the folder is created.

[2021-04-08 16:25] DarioCorona59 commented on #83
[playbook_out.txt](https://github.com/anstack/anstack.github.io/files/6280038/playbook_out.txt)

[2021-04-08 16:27] DarioCorona59 commented on #83
libvirt is already present.

[root@c8hyp libvirt]# dir
boot  dnsmasq  filesystems  images  network  qemu  swtpm
[root@c8hyp libvirt]#

[2021-04-08 16:35] ccamacho commented on #83
Interesting, checkthis:

https://github.com/Kubeinit/kubeinit/blob/master/kubeinit/roles/kubeinit_validations/tasks/10_libvirt_free_space.yml#L27

This is what we execute to check the free space, maybe you have something different in your partitioning schema?

Can you run:
[code]

[2021-04-08 16:40] DarioCorona59 commented on #83
[root@c8hyp libvirt]# df -BG --output=avail /var/lib/libvirt | grep -v Avail
Dispon.
   452G

[2021-04-08 17:09] DarioCorona59 commented on #83
![partitions](https://user-images.githubusercontent.com/76653745/114068232-fbfecf80-989d-11eb-8ebb-3cdd3ca2183c.png)
It seems ok to me ...

[2021-04-09 07:13] DarioCorona59 commented on #83
Hi Carlos,
this is the output of the command you suggested:

--------------------------- DISK SPACE CHECK
***@***.*** libvirt]# df -BG --output=avail /var/lib/libvirt | grep -v Avail
Dispon.
452G
------------------ HW/SW CONFIGURATION -------------------
CPU RYZEN 9 - RAM 128 - HD 500 GB (dedicated) - CENTOS 8

The partitioning (see attachment) seems ok to me ...
Some other hint ?
Thanks.
Dario

_

[2021-04-09 07:36] ccamacho commented on #83
It's a bit weird, mostly because is something I'm not hitting and the CI is also getting correctly.

Can you comment these lines? So we can see if it's something specific to that validation?

https://github.com/Kubeinit/kubeinit/blob/master/kubeinit/roles/kubeinit_validations/tasks/00_libvirt.yml#L51-L52

[2021-04-09 11:04] DarioCorona59 commented on #83
Hi Carlos,
lines commented.
Still error, but different.
Please check the bottom of the attached playbook output.
Waiting for news 🙂
Thank You.
Dario

________________________________
Da: Carlos Camacho ***@***.***>
Inviato: venerdì 9 aprile 2021 09:37
A: anstack/anstack.github.io ***@***.***>
Cc: DarioCorona59 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [anstack/anstack.github.io] Playbook Tas

[2021-04-26 16:58] GerritAO commented on #69
how do i rerun the installer without installing or downloading everything?

[2021-04-26 17:10] ccamacho commented on #69
Hi @GerritAO you can't right now (running the ansible deployment command) there are some steps that are idempotent, like downloading the OS images, but other steps will re-run, which means that all the VMs will be redeployed. You can log in to the service machine and do a manual install from the point you stopped. @gmarcy has a refactor that will allows to do exactly that, but there is no ETA at t

[2021-04-28 12:30] GerritAO commented on #69
@ccamacho okay, thank you. I used this same guide and when it comes to checking master nodes and get the error that it failed to verify and  i get a link with OEF behind it when I open the master node. If I check the cockpit service and the HAProxy i see that they are all dead. Should I start them at this point? Is there anything else I should have done until that point.

[2021-05-13 04:39] nbarodiya30 opened #84 "Getting error in task ../../roles/kubeinit_prepare : Create a minimal podman pod for the service containers running on service node VMs]"
We are getting below error

fatal: [localhost -> 10.0.0.100]: FAILED! => {"changed": false, "msg": "Can't create pod kubeinit-service-pod", "stderr": "time=\"2021-05-13T04:10:57Z\" level=error msg=\"Error freeing pod lock after failed creation: no such file or directory\"\nError: error adding Infra Container: Error initializing source docker://registry.access.redhat.com/ubi8/pause:latest: error pi

[2021-05-13 10:45] ccamacho commented on #84
Hi! please create an issue in the project https://github.com/kubeinit/kubeinit so we can dig into it, also you can jump in the slack channel.

[2021-05-13 10:45] #84 closed, assigned to nobody

[2021-06-01 18:21] cgoguyer opened #85 "External interface"
Hello,
it seems that the external interface is not working anymore as described:
https://www.anstack.com/blog/2020/08/25/KubeInit-External-access-for-OpenShift-OKD-deployments-with-Libvirt.html
So, how to setup an external interface to access okd-services/console outside internal libvirt network ?

[2021-06-01 18:43] gmarcy commented on #85
any chance you still have that cluster around you wanted to add external access to?

on the bastion host there should be a script in the root home folder called create-external-ingress.sh

running that should give you external access through that host.  if it doesn't let us know, it's something I added in place of the old external access mechanism that I could never get working consistently and I

[2021-06-01 19:27] ccamacho commented on #85
@cgoguyer we are working to add some new features among them the no need of having this additional bridged interface, so far you could deploy 1.0.2.kubeinit-2021-03-19-18-05-19 and it should work as it was before.

[2021-06-02 07:43] cgoguyer commented on #85
@gmarcy There is no "create-external-ingress.sh" script on service host.

@ccamacho I'using the latest commit (>1.0.2) but as there is no bridge (nor external naming zone) on service host, How do you manage to get access to "*.apps.okdcluster.kubeinit.local" from laptops outside 10.0.0.0 private network ?
I've seen some variable about that but seems not been used (kubeinit_common_external_access_e

[2021-06-02 17:58] gmarcy commented on #85
@cgoguyer the service host and the first hypervisor (bastion) are different places, the script should be on the hv where the cluster network is created, default name nyctea, not the service host at 10.0.0.100

[2021-06-03 09:32] cgoguyer commented on #85
@ccamacho Ok, I got it. With version 1.0.2.kubeinit-2021-03-19-18-05-19, all works as before. Changes are coming after this tag.

But after the reboot of service node, OKD cluster is not accessible anymore:
[code]
Any idea ?

[2021-06-03 09:46] cgoguyer commented on #85
@gmarcy Ok, finally i found the script on the hypervisor (is it linked to 'kubeinit_common_external_access_enabled': 'true' ?), but i get an error as I have multiple interfaces (including libvirt/podman) on the hypervisor.

[code]

$(hostname --ip-address) return multiple values.

[2021-06-03 12:35] gmarcy commented on #85
ah, Carlos had a fix for that which I need to pick up.  something about finding the one used for the default route. can you confirm that if you change the script to use the interface ip that would be used when you connect to somewhere like 8.8.8.8 that the script sets up the external access properly?

[2021-06-04 07:02] cgoguyer commented on #85
@ccamacho  The issue is coming from "ifcfg-eth0", DNS1=10.0.0.254 was commented and replaced by DNS1=8.8.8.8. So after reboot, I have a wrong nameserver in resolv.conf and cluster is not accessible.
And default route should be yes in "ifcfg-eth1" and no in "ifcfg-eth0", in version 1.0.2 it is reversed.

I saw that you have dropped the bridge template in the latest version but the issue with DNS ma

[2021-06-04 13:31] cgoguyer commented on #85
@gmarcy After hardcoded the "KUBEINIT_INGRESS_IP" variable, the script worked fine and the pod is created. But I have not seen any ports published for the kubeinit-ingress-bind pod, so how do you configure dns access from external desktops ?

[2021-06-04 14:19] gmarcy commented on #85
from the external desktops I usually add `nameserver <KUBEINIT_INGRESS_IP>`.  on my current external desktop I have
[code]
where `192.168.0.2` is the address of nyctea, the hypervisor where I ran the create-external-ingress.sh script

[2021-06-05 16:46] gmarcy commented on #85
@cgoguyer can you confirm that this works better than `hostname --ip-address` in your environment?
[code]

[2021-06-07 07:08] cgoguyer commented on #85
It is better, but in my case I get the management address, but not the one used for application network.
It would be great to add a variable to override this setup.

[2021-07-22 08:27] njayakrishna commented on #69
Hi @ccamacho,
  Thanks for the great article.
Can you please help me with this error?

TASK [../../roles/kubeinit_libvirt : Enable kernel modules and IP forward] ************************************************************************
ok: [localhost -> 10.0.0.100] => {"changed": false, "cmd": "modprobe br_netfilter\necho br_netfilter > /etc/modules-load.d/br_netfilter.conf\nmodprobe overlay\necho

[2021-07-22 13:56] ccamacho commented on #69
@njayakrishna thanks a lot for testing kubeinit, there might a NAT issue fixed by https://github.com/Kubeinit/kubeinit/pull/406 which is set to auto-merge in a few minutes would you mind testing it again?

[2021-07-22 15:29] njayakrishna commented on #69
Thanks a lot for your reply. Sure, I will pickup the latest.

[2021-07-22 15:51] njayakrishna commented on #69
I tried the latest code, looks like I get a new error when firewalld is reloaded. This was not the case before the new change:
TASK [../../roles/kubeinit_libvirt : Refresh firewalld services list to pick up ovn services] **************************************************************************************
fatal: [localhost -> nyctea]: FAILED! => {"changed": true, "cmd": "firewall-cmd --reload\n",

[2021-07-22 15:58] ccamacho commented on #69
@njayakrishna would you mind to fill a bug in github.com/kubeinit/kubeinit adding the information about the error you are hitting?

[2021-07-22 16:08] njayakrishna commented on #69
Done:  Error during task "Refresh firewalld services list to pick up ovn services" #412

Thanks for your help.

[2021-09-12 21:20] tmlocher commented on #80
Hi ccamacho,
sorry to but you, you did a fab job to create Kubinit, yet I still cannot get it to work, ... maybe you can giv eme a hint what I am dong wrong. Physically I got kit to support it, ...Let me give you a little insight into my set-up

4 physical machines
1-3) IBM x3650m4
- 2*10 CPU
- 64GB Ram
- >1TB disk btrfs
- 4 IP
    - eno2: 10.10.0.251 /10.10.0.252 /10.10.0.253
    - eno3: dhcp

[2021-09-13 06:13] ccamacho commented on #80
Hi @tmlocher would you mind to raise an issue in https://github.com/Kubeinit/kubeinit/issues so we can track your problem? Thanks.

[2021-09-13 07:05] tmlocher commented on #80
Done already.
In the process of rerunning, ... I am using four of your blog entries, I do
see how the kubeinit evolves, but find it difficult to reconcile which
version (head/1.0.2) goes with which blog entry.
rerun I am doing on plain vanilla and will then look at the outcome.
Regards
Thomas

On Mon, 13 Sept 2021 at 08:13, Carlos Camacho ***@***.***>
wrote:

--
Thomas Locher
Felsenburgstrasse 7
8

[2021-09-15 15:03] tmlocher commented on #80
so I finally got the whole thing to fly. The issue is with openvswitch, it
fails due to seLinux. Once I had all those weeded out it worked. t

On Mon, 13 Sept 2021 at 09:05, Thomas Locher ***@***.***> wrote:

--
Thomas Locher
Felsenburgstrasse 7
8712 Stäfa
Schweiz/Switzerland

+41 79 175 23 53
Skype: tmlocher; LinkedIn Member

[2021-09-15 16:47] ccamacho commented on #80
Hi @tmlocher sorry I didn't reply before, what was the issue you hit? You had to disable selinux? The latest master have many many improvements that are not documented yet, if you followed an specific workflow that you will like to have it upstream feel free to push a PR. I'll try to sort the docs issues we have ASAP. Thanks for using the project!

[2021-09-15 18:32] tmlocher commented on #80
I will  recap and forward!
t

On Wed, 15 Sept 2021 at 18:47, Carlos Camacho ***@***.***>
wrote:

--
Thomas Locher
Felsenburgstrasse 7
8712 Stäfa
Schweiz/Switzerland

+41 79 175 23 53
Skype: tmlocher; LinkedIn Member

[2022-06-30 12:19] ccamacho opened #87 "Deploying a Kubernetes cluster with Windows containers support"